@model KittenCreateViewModel

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Kittens!</h4>
        <hr />

        <!-- displays all errors -->
        <div asp-validation-summary="All" class="text-danger"></div>
        
        <div class="form-group">
            <label asp-for="Kitten.Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Kitten.Name" class="form-control" />
                <span asp-validation-for="Kitten.Name" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Kitten.NiceScale" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Kitten.NiceScale" class="form-control" />
                <span asp-validation-for="Kitten.NiceScale" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Kitten.DateOfBirth" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Kitten.DateOfBirth" class="form-control" />
                <span asp-validation-for="Kitten.DateOfBirth" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Kitten.IsMale" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Kitten.IsMale" class="form-control" />
                <span asp-validation-for="Kitten.IsMale" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="SelectedMother" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="SelectedMother" asp-items="Model.OtherKittens"></select> 
                <span asp-validation-for="SelectedMother" class="text-danger"></span>
            </div>
        </div>

        <input type="submit" />
    </div>
</form>