@model KittenLitter

<h1>KITTENS!</h1>
<ul>
@foreach(var kitten in Model.Kittens) {
    <li>
        <div>
            <h4>@kitten.Name</h4>
            @(kitten.IsMale ? "Mannetje" : "Vrouwtje") 
            - @kitten.DateOfBirth.ToShortDateString()
            - @(new string('*', kitten.NiceScale))
        </div>
    </li>
}
</ul>
